/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 88px;
  height: 100%;
}

.login-body {
    background: #ededed;
}

.logo-ey{
    height:130px;
    width:300px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 88px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222222;
    border-right: 1px solid #eee;
  }
}

.sidebar a{
    color:#fff;
    background-color: #222222;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar > li  a:hover,
.navsidebar >  li  a:focus,
.navsidebar >  li  a:active,
.navsidebar >  li  a:visited {
  color: #222;
  background-color: #ffe600;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}



/* navbar ey color scheme */
.nav-ey {
    background-color: #222222 !important;
    border-color: #080808;
}


/* icon spacing from text */
.icon {
    margin-right:5px;
}

/* align top navbar to bottom */
.navbar-header > a+a,
ul.navbar-right{
    position:absolute;
    bottom:0;
}
ul.navbar-right{
    right:0;
}

/* reduce right margin for header icon*/
.navbar-header > a {
    padding-right:0;
}

/*
    db and log panel size
*/

.db-panel {
    min-height: 500px;
    height: 500px;
    overflow-y: auto;
}

.log-panel {
    min-height: 459px;
    height: 459px;
    overflow-y: auto;
}

/*
    clear logs
*/

.clear-log:before{
    content: "Clearing logs...";
    z-index: 1;
    position: relative;
    top: 45%;
    left: 35%;
    font-style: italic;
    font-weight: bold;
}


/*
    Login Page CSS
*/

.logo-panel {
    margin: auto;
    width: 50%;
    border-bottom: 1px solid #808080;
    margin-bottom: 10px;
}

.btn-login {
   background-color: #ffe600;
}

.text-center h3,
.btn-login {
    color: #808080;
}

/* input field css */

.form-group.required .control-label:after{
    content: "*";
    color:red;
}

/*
 * UserAdd Panel Css
 */

.user-status{
    font-size: 16px;
    text-align: center;
}

.user-status span{
    font-size: 20px;
}

.username_edit{
    margin-bottom: 0px;
    padding-top: 7px;
}

.alert-danger.disabled{
    color: #2d2d30;
}